.title, #galleries, #gal {
    text-align: center;
}

a {
    text-decoration: underline;
    color: brown;
    cursor: pointer;
}

a:visited {
    color: green;
}

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 300px;
}

table, th, td {
    border: 1px solid gray;
}

th, td {
    padding: 5px;
}

button {
  background-color: #e7e7e7; color: black;
  font-size: 16px;
  padding: 12px;
}
